body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  color: #555555;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  font-size: 200%;
  word-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 1px;
}
.back {
  background: url('../img/bg11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.back-2 {
  background: url('../img/back.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ft-back{
  margin-top: 30px;
  background: url('../img/antoine-barres.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}
.story {
  text-align: left;
}
.outy {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 200px;
}
.outy:hover {
  background-color: #ffffff;
  border: 1px solid rgb(39, 37, 37);
  color: rgb(39, 37, 37);
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 200px;
}
.padded {
  margin-top: 50px;
  padding-top: 50px;
  text-align: center;
}
.sel {
  color: #ffffff;
  font-size: 120%;
  display: block;
}
.sel span {
  display: block;
  font-weight: bold;
  font-size: 150%;
}
i {
  font-size: 40px;
}
/* 
===========
 Bootstrap 
===========
*/
.lead {
  font-weight: 400;
  font-size: 130%;
  color: #ffffff;
}
.list-group-item:first-child {
  color: #007bff;
  text-transform: uppercase;
}
.list-group-item:nth-child(2) {
  color: #ffffff;
  font-size: 80%;
}
.list-group-item:nth-child(2) span {
  font-size: 50px;
  font-weight: bold;
  display: block;
}
.rounded-circle {
  background-color: #ffffff;
  padding: 40px;
}
.rounded-circle:hover {
  background-color: #007bff;
  color: #ffffff;
  padding: 40px;
}