body {
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  color: #555555;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2 {
  font-size: 200%;
  word-spacing: 2px;
  text-align: center;
  margin: 20px 0;
  letter-spacing: 1px;
}
.back {
  background: url('../img/bg11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.story {
  margin: 0 10%;
  line-height: 145%;
  font-size: 20px;
}

/* 
===========
 Bootstrap 
===========
*/
